.row.form
  .wraper
    = form_for @list do |f|
      = render 'shared/errors', object: @list
      .col-md-10
        .form-group
          -# = f.label :name
          = f.text_field :name, type: 'text', autofocus: true, placeholder: 'Enter your list name', class: 'form-control'
      .col-md-2
        = f.submit 'Create List', class: 'btn btn-primary'
