.row.list
  .col-md-12
    %h2
      = link_to list.name, list_todo_items_path(list)
      %span(class="label label-info")
        = pluralize(list.todo_items.size, 'Item')
        = link_to '', list, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'delete glyphicon glyphicon-remove'

