.row.list
  .col-md-10
    %h2
      = link_to list.name, list_todo_items_path(list)
      %span(class="label label-info")
        = pluralize(list.todo_items.size, 'Item')
  .col-md-2
    = link_to '', edit_list_path(list), class: 'btn btn-primary glyphicon glyphicon-pencil'
    = link_to '', list, :method => :delete, :data => { :confirm => 'Is it really done?' }, class: 'btn btn-success glyphicon glyphicon-ok'
