.row
  .col-md-12
    - if object.errors.any?
      %h2= "#{pluralize(object.errors.count, "error")} prohibited this list from being saved:"
      %ul
        - object.errors.full_messages.each do |msg|
          %li= msg