.row
  .col-md-12
    %div.jumbotron
      %h1 Todermonator
      %h2 Your to-do item just got terminated!
      %p.lead Todermonator does one thing, one thing only! it helps you manage your todo lists, and if you can't manage them it'll terminate them one by one, for free. You are welcome :)
      %p
        = link_to "Sign up today", new_user_registration_path, class: "btn btn-lg btn-success", role: "button"

