// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.row{
  &.form{
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    &.todo{
      padding-top: 25px;
    }
  }
  &.list,
  &.todo-item{
    border-bottom: 1px solid #ddd;
    padding-top: 20px;
    padding-bottom: 10px;
    @extend .clearfix;
    transition:all 500ms ease-in-out;
    &:hover{
      background-color: #eee;
      text-decoration: line-through;
    }
    h2{
      // text-transform: capitalize;
      margin-top: 5px;
      .glyphicon{
        font-size: 30%;
        vertical-align: middle;
      }
    }
  }
  &.todo-items{
    .page-header{
      margin-bottom: 0;
    }
    .btn-primary{
      margin-right: 5px;
    }
  }
}

h1, h2{
  .label{
    font-size: 40%;
    vertical-align: middle;
    margin-right: 5px;
  }
}

.alert{
  text-align: center;
}

.alert-notice{
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}
.alert-alert {
  background-color: #fcf8e3;
  border-color: #faebcc;
  color: #8a6d3b;
}

#todo_items_wrapper{
  // transition:all 500ms ease;
  // background-color: #ccc;
}

.todo-item-checkbox{
  font-size: 28px;
  padding: 5px;
  color: #777;
  width: 28px;
  height: 28px;
  position: relative;
  overflow: hidden;
  display: block;
  padding: 0;
  margin-top: 5px;
  transition: all 500ms ease-in-out;
  .icon{
    display: inline-block;
    width: 56px;
    height: 28px;
    left: -28px;
    position: absolute;
    transition: all 150ms ease-in-out;
  }
  .glyphicon{
    position: absolute;
    top: 0;
  }
  .glyphicon-unchecked{
    left: 29px;
  }
  .glyphicon-check{
    left: 0;
  }
  &:hover, &:visited{
    text-decoration: none;
    color: #5cb85c;
  }

}

.todo-item.completed{
  h2, label{
    text-decoration: line-through;
  }
  .todo-item-checkbox{
    color: #5cb85c;
  }
  .icon{
    left: 0;
  }
  background-color: #DFF0D8;
}

.best_in_place{
  padding: 0 5px;
  transition: all 300ms ease-in-out;
  &:hover{
    background-color: #DFF282;
  }
}

.purr{
  position: fixed;
  text-align: center;
  top: 30px;
  left: 50%;
  margin-left: -150px;
  width: 400px;
  padding: 20px;
  background-color: #fcc;
  border: solid 2px #c66;
}