- if flash[:notice]
  %div{:class => 'alert alert-success'}
    %button{:type => 'button', :class => 'close', :'data-dismiss' => 'alert'} &times;
    = flash[:notice]
- elsif flash[:error]
  %div{:class => 'alert alert-danger'}
    %button{:type => 'button', :class => 'close', :'data-dismiss' => 'alert'} &times;
    = flash[:error]
- elsif flash[:alert]
  %div{:class => 'alert alert-warning'}
    %button{:type => 'button', :class => 'close', :'data-dismiss' => 'alert'} &times;
    = flash[:alert]