%footer.footer
  .container
    .row
      .col-md-6
        %p &copy; Toderminator, your to-do item just got terminated!
      .col-md-6
        %ul.footer-links
          %li
            %a(href='#') Terms & Conditions
          %li
            %a(href='#') Privacy
          %li
            %a(href='#') API
          %li
            %a(href='#') Press
          %li
            %a(href='#') Jobs