%nav(class="navbar navbar-inverse" role="navigation")
  %div(class="container")
    %div(class="navbar-header")
      %button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
        %span(class="sr-only") Toggle navigation
        %span(class="icon-bar")
        %span(class="icon-bar")
        %span(class="icon-bar")

      %a(class="navbar-brand" href="#") Toderminator

    %div(id="navbar" class="collapse navbar-collapse")
      %ul(class="nav navbar-nav")
        %li(class="active")
          %a(href="#") Home
        %li
          %a(href="#about") About
        %li
          %a(href="#contact") Features
        %li
          %a(href="#contact") Testimonials
        %li
          %a(href="#contact") Contact
      .action-btns
        = link_to 'Sign in', new_user_session_path, class: "btn btn-default navbar-btn"
        = link_to 'Sign up', new_user_registration_path, class: "btn btn-success navbar-btn"
